@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
$calc-width: 32rem;
$calc-padding: 0 1rem;
$font-size: 35px;
$border-radius: 10px;

//theme color variables//
$main-bg: hsl(221, 27%, 31%);
$keypad-bg: hsl(223, 31%, 20%); 
$screen-bg: hsl(224, 36%, 15%);
$key-bg-1: hsl(225, 21%, 49%);
$key-shadow-1: hsl(224, 28%, 35%);
$key-bg-2: hsl(6, 63%, 50%);
$key-shadow-2: hsl(6, 70%, 34%);
$key-bg: hsl(30, 25%, 89%);
$key-shadow: hsl(28, 16%, 65%);
$text-color: hsl(221, 14%, 31%);


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
  background-color: $main-bg;
}

body {
  font-size: $font-size;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #E2E8F3; }

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

header {

  width: $calc-width;
  color: white;
  margin: 2rem 0 0.5rem 0;
  
  h1 {
    font-size: 32px;
    float:left;
  }

  span {
    margin-right: 1rem;
  }

  div {
    float:right;
  }

  .theme-changer {
    font-size: 12px;
  }
}

.radio-toolbar {
  background-color: $keypad-bg;
  border-radius: 34px;
  height: 24px;
  
  input {
    margin-top: 5px;
    margin-right: 5px;
  }
  
}

.screen {
  width: $calc-width;
  height: 7rem;
  background-color:$screen-bg;
  border-radius: $border-radius;
  padding: $calc-padding;
}

.keypad {
  width: $calc-width;
  height: 30rem;
  background-color: $keypad-bg; 
  border-radius: $border-radius;
  margin-top: 30px;
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: space-around;
}

.screen-text {
  color: white;
  float: right;
  text-align: center;
}


button {
  background-color:$key-bg;
  color: hsl(221, 14%, 31%);
  font-size: $font-size;
  font-weight: bolder;
  padding: 15px 32px;
  border-radius: $border-radius;
  border-style: none;
  box-shadow: 0 5px hsl(28, 16%, 65%);
  //button font is made non-selectable
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.row-1, .row-2, .row-3, .row-4, .row-5 {
  display: flex;
  justify-content: space-around;
  //text-align: center; //dont know why this doesn't center the button text...

}

.row-1,.row-2,.row-3,.row-4 {
  button {
    width: 20%;
    font-size: 32px;
  }
}

.row-5 {
  button {
    width: 45%;
  }
}

#var-1 {
  background-color:$key-bg-1; 
  box-shadow: 0 5px hsl(224, 28%, 35%);
  font-size: 19px;
  
}

#var-2 {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 5px hsl(6, 70%, 34%);

}

#var-1, #var-2 {
  color: white;
}

#var-1, #var-2, button {

  &:active {
    transform: translateY(4px);
    box-shadow: none;
  }

}

